

{% assign product = closest.product %}

{% capture children %}
  {% unless product == blank %}
    <div
      class="product-badges product-badges--{{ settings.badge_position }}"
      style="
        --badge-border-radius: {{ settings.badge_corner_radius }}px;
        --badge-font-family: var(--font-{{ settings.badge_font_family }}--family); --badge-font-weight: var(--font-{{ settings.badge_font_family }}--weight); --badge-text-transform: {{ settings.badge_text_transform }};
      "
    >
      {%- if product.available == false or product.compare_at_price > product.price -%}
         <!------Hanuma-Start Custom Badge--------->
          {% if settings.enable_discount_badge
            and  product.compare_at_price > product.price %}
            <div class="product-badges__badge badge-discount">
              {{ product.compare_at_price | minus: product.price | times: 100.0 | divided_by: product.compare_at_price | round }}% OFF
            </div>
          {% endif %}
          {% if settings.enable_premium_badge
            and product.tags contains 'Premium' %}
            <div class="product-badges__badge badge-premium">
              Premium Quality
            </div>
          {% endif %}

          {% if settings.enable_bestseller_badge
            and product.tags contains 'Bestseller' %}
            <div class="product-badges__badge badge-bestseller">
              Best Seller
            </div>
          {% endif %}
          <!-------End Custom Badge--------->
      {%- endif -%}
    </div>
    {%  if settings.quick_add or settings.mobile_quick_add %}
      {% render 'quick-add', product: product, section_id: section.id %}
    {% endif %}
  {% endunless %}
{% endcapture %}

{% render 'card-gallery', children: children %}

{% # Title and price for the zoomed out grid view %}
<div class="product-grid-view-zoom-out--details">
  {% if product == blank %}
    <h3 class="h4">{{ 'content.product_card_placeholder' | t }}</h3>
  {% else %}
    <h3 class="h4">{{ product.title }}</h3>
  {% endif %}
</div>

{% stylesheet %}
  .product-badges {
    --badge-inset: max(var(--padding-xs), calc((var(--border-radius) + var(--padding-xs)) * (1 - cos(45deg))));

    position: absolute;
    z-index: var(--layer-flat);
  }

  .product-badges--bottom-left {
    bottom: calc(var(--badge-inset) + var(--padding-block-start));
    left: calc(var(--badge-inset) + var(--padding-inline-start));
  }

  .product-badges--top-left {
    /* top: calc(var(--badge-inset) + var(--padding-block-start));
    left: calc(var(--badge-inset) + var(--padding-inline-start)); */
  }

  .product-badges--top-right {
    top: calc(var(--badge-inset) + var(--padding-block-start));
    right: calc(var(--badge-inset) + var(--padding-inline-start));
  }

  .product-badges__badge {
    --badge-font-size: var(--font-size--xs);

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--color-foreground);
    background: var(--color-background);
    font-size: var(--badge-font-size);
    font-family: var(--badge-font-family);
    font-weight: bold;
    text-transform: var(--badge-text-transform);
    border-radius: var(--badge-border-radius);
  }

  .product-badges__badge--rectangle {
    padding-block: var(--badge-rectangle-padding-block);
    padding-inline: var(--badge-rectangle-padding-inline);
  }

    /* .... */
 .product-badges {
  position: absolute;
  top: 12px;
  /* left: calc(var(--badge-inset) + 8px); */
  display: flex;
  flex-direction: column;
  gap: 6px;
  z-index: 5;
}

.product-badges__badge {
  padding: 6px 6px;
  /* border-radius: var(--badge-border-radius); */
  border-radius: 0px 4px 4px 0px;
  font-size: 8px;
  font-weight: bold;
  font-family: var(--badge-font-family);
  color: #fff;
  white-space: nowrap;
}

/* Fixed colors (no color scheme override) */
.badge-discount {

  background-color: #e35935;
}

.badge-premium {
  background-color: #6a1b9a;
}

.badge-bestseller {
  background-color: #f57c00;
}


/* -------------- */
{% endstylesheet %}

{% schema %}
{
  "name": "t:names.product_image",
  "tag": null,
  "settings": [
    {
      "type": "paragraph",
      "content": "t:content.resource_reference_product_media"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:options.auto"
        },
        {
          "value": "portrait",
          "label": "t:options.portrait"
        },
        {
          "value": "square",
          "label": "t:options.square"
        },
        {
          "value": "landscape",
          "label": "t:options.landscape"
        }
      ],
      "default": "portrait",
      "label": "t:settings.aspect_ratio",
      "info": "t:info.aspect_ratio_adjusted"
    },
    {
      "type": "header",
      "content": "t:content.borders"
    },
    {
      "type": "select",
      "id": "border",
      "label": "t:settings.style",
      "options": [
        {
          "value": "none",
          "label": "t:options.none"
        },
        {
          "value": "solid",
          "label": "t:options.solid"
        }
      ],
      "default": "none"
    },
    {
      "type": "range",
      "id": "border_width",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:settings.thickness",
      "default": 1,
      "visible_if": "{{ block.settings.border != 'none' }}"
    },
    {
      "type": "range",
      "id": "border_opacity",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "t:settings.opacity",
      "default": 100,
      "visible_if": "{{ block.settings.border != 'none' }}"
    },
    {
      "type": "range",
      "id": "border_radius",
      "label": "t:settings.border_radius",
      "min": 0,
      "max": 32,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "header",
      "content": "t:content.padding"
    },
    {
      "type": "range",
      "id": "padding-block-start",
      "label": "t:settings.top",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-block-end",
      "label": "t:settings.bottom",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-inline-start",
      "label": "t:settings.left",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-inline-end",
      "label": "t:settings.right",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "default": 0
    }
  ],
  "presets": [
    {
      "name": "t:names.product_card_media",
      "category": "t:categories.product"
    }
  ]
}
{% endschema %}
